

## Env variables to include in your prod environment (not in the .env file)
DB_CLIENT="pg"
DB_HOST="your droplet ip"
DB_PORT="your port"
DB_DATABASE="your db"
DB_USER="postgres"
DB_PASSWORD="your password"
DB_SSL="false"

# Amazon s3 storage
STORAGE_LOCATIONS="s3"
STORAGE_S3_DRIVER="s3"
STORAGE_S3_KEY="your-access-key-id"
STORAGE_S3_SECRET="your-secret-access-key"
STORAGE_S3_BUCKET="your-bucket-name"
STORAGE_S3_REGION="your-bucket-region"

# Amazon s3 backup storage **Make sure to change these in the backup file to use the same as above for region etc